<%- include elements/navbar.ejs %>

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Update /</span> Product</h4>

      <!-- Basic Layout & Basic with Icons -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5 class="mb-0">Update Product </h5> 
            </div>
            <div class="card-body">
              <form action="<%=AdminUrl%>/updateproductdetail/<%=data[0].id %>" method="POST" enctype="multipart/form-data">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-name">Category Name </label>
                    <div class="col-sm-10">
                      <select name="category_id" class="form-control" id="category_id">
                        <option>Select Category Name</option>
                        <% data[0].category_details.forEach(function(controller) { %>
                            <option value="<%= controller.id %>" <%=data[0].category_id ==controller.id ? 'selected' : '' %>>
                                <%= controller.name %>
                            </option>
                        <% }); %>
                      </select>
                    </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" value="<%=data[0].name%>" placeholder="Enter your Product name" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-company">Images</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" name="image" />
                  </div>
                </div> 
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">Video Url</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="video_url" value="<%=data[0].video_url%>" placeholder="Enter your Video Url" />
                  </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Short Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Short_description" id="editor1"  rows="5"><%=data[0].Short_description%></textarea>
                    </div>
                </div> 
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-company">Method</label>
                  <div class="col-sm-10">
                      <textarea class="form-control" name="method" id="editor2"  rows="5"><%=data[0].method%></textarea>
                  </div>
              </div> 
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Description"  rows="5" id="editor"><%=data[0].Description%></textarea>
                    </div>
                </div> 
                <div class="row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> 


    <div class="content-backdrop fade"></div>
  </div>
  
  </div>
  <!-- / Layout page -->
 
</div>

  <!-- Overlay -->

  <!-- / Layout wrapper -->

  <%- include elements/footer.ejs %>